:root {
 --fg: #0F0F10;
 --muted: #9A9A9A;
 --border-bottom: #FF6F98;
 --hero-button: #EE3C6F;
 --hero-button-hover: #0EC055;
 --footer: #272727;
 --footer-border: #555555;
 --paradigm-pink-dark: #E00F2F;
 --paradigm-pink: #EF3E6E;
 --paradigm-pink-light: #F77EA7;
 --highlighter-yellow-dark: #FFB106;
 --highlighter-yellow: #FFD527;
 --highlighter-yellow-light: #FFE964;
 --pool-blue-dark: #203C8C;
 --pool-blue: #5B7CBD;
 --pool-blue-light: #98B2DB;
 --circuit-green-dark: #06802C;
 --circuit-green: #2FB56A;
 --circuit-green-light: #62D7A4;
 --juicebox-orange-dark: #FF590D;
 --juicebox-orange: #FF9739;
 --griptape-gray-dark: #151515;
 --griptape-gray: #494949;
 --griptape-gray-light: #888888;
 --def-bgd-col: white;
 --def-text-col: var(--griptape-gray-light);
 --def-border-col: var(--griptape-gray-light);
 --def-border-radius: 1rem;
 --def-border-width: 0.2rem;
 --def-gap: 0.5rem;
 --def-padding: 1rem;
 --alt-bgd-col: var(--griptape-gray);
 --alt-text-col: var(--pool-blue);
 --alt-border-col: var(--paradigm-pink-dark);
 font-size: 15px;
 --flat-logo-sub-min-width: 300px;
 --flat-logo-nosub-min-width: 150px;
 --reduced-logo-min-width: 30px;
 --full-logo-sub-min-width: 200px;
 --full-logo-nosub-min-width: 150px;
 --flat-logo-sub-min-width-rem: 20rem;
 --flat-logo-nosub-min-width-rem: 10rem; 
 --reduced-logo-min-width-rem: 2rem;
 --full-logo-sub-min-width-rem: 14rem;
 --full-logo-nosub-min-width: 10rem;
 --font-size-header: 2rem;
/*
 --def-text-col: #A0A0A0;
 --def-bgd-col: #141414;
*/
}

@font-face {
 font-family: "Cooper Black";
 src: url(../fonts/CooperBlack.woff) format("woff");
 font-weight: normal;
 font-style: normal;
}

@font-face {
 font-family: "Arial Rounded";
 src: url(../fonts/ArialRounded.woff) format("woff");
 font-weight: normal;
 font-style: normal;
}

body {
 font-family: "Arial Rounded";
 background-color: var(--def-bgd-col);
 margin: 0rem;
 padding: 0rem;
}

text {
 text-align: center;
 font-family: "Arial Rounded";
}

h1,h2,h3,h4,h5,h6 {
 font-family: "Cooper Black";
 color: var(--alt-text-col);
 box-sizing: border-box;
 margin: 0rem;
 padding: 0rem;
}

div {
 align-content: center;
 align-items: center;
 border-color: var(--def-border-col);
 border-radius: var(--def-border-radius);
 border-style: none;
 border-width: var(--def-border-width);
 box-sizing: border-box;
 color: var(--def-text-col);
 display: flex;
 flex-flow: column nowrap;
 gap: var(--def-gap);
 height: 100%;
 justify-content: center;
 margin: 0rem;
 padding: 0rem;
 width: 100%;
}

a {
 color: var(--def-text-col);
 text-decoration: none;
}

.page-short {
 height: 100vh;
 padding: var(--def-padding);
}

.page-long {
 padding: var(--def-padding);
}

.products {
 flex-flow: row wrap;
}

.display-box {
 display: grid;
 grid-template: minmax(0%,100%) 4rem / 1fr;
 height: 30rem;
 width: 25rem;
}

.marquee {
 background-color: var(--paradigm-pink);
 border-color: var(--alt-border-col);
 border-style: none none solid none;
}

.marquee-text {
 color: white;
 font-family: 'Arial Rounded';
}

.cover {
 display: grid;
 grid-template: 3rem minmax(0%,100%) calc(2*var(--def-border-width) + 2*var(--def-padding) + 1rem) / 1fr;
}

.footer {
 background-color: var(--griptape-gray);
 display: grid;
 grid-template: 1fr / 1fr 1fr 1fr;
 padding: var(--def-padding) 2rem;
}
