:root {
 --fg: #0F0F10;
 --muted: #9A9A9A;
 --border-bottom: #FF6F98;
 --hero-button: #EE3C6F;
 --hero-button-hover: #0EC055;
 --footer: #272727;
 --footer-border: #555555;
 --paradigm-pink-dark: #E00F2F;
 --paradigm-pink: #EF3E6E;
 --paradigm-pink-light: #F77EA7;
 --highlighter-yellow-dark: #FFB106;
 --highlighter-yellow: #FFD527;
 --highlighter-yellow-light: #FFE964;
 --pool-blue-dark: #203C8C;
 --pool-blue: #5B7CBD;
 --pool-blue-light: #98B2DB;
 --circuit-green-dark: #06802C;
 --circuit-green: #2FB56A;
 --circuit-green-light: #62D7A4;
 --juicebox-orange-dark: #FF590D;
 --juicebox-orange: #FF9739;
 --griptape-gray-dark: #151515;
 --griptape-gray: #494949;
 --griptape-gray-light: #888888;
 --def-bgd-col: var(--griptape-gray);
 --def-text-col: var(--griptape-gray-light);
 --def-border-col: var(--griptape-gray-light);
 --alt-bgd-col: var(--paradigm-pink);
 --alt-text-col: var(--highlighter-yellow);
 --alt-border-col: var(--paradigm-pink-dark);
 font-size: 15px;
 --flat-logo-sub-min-width: 300px;
 --flat-logo-nosub-min-width: 150px;
 --reduced-logo-min-width: 30px;
 --full-logo-sub-min-width: 200px;
 --full-logo-nosub-min-width: 150px;
 --flat-logo-sub-min-width-rem: 20rem;
 --flat-logo-nosub-min-width-rem: 10rem; 
 --reduced-logo-min-width-rem: 2rem;
 --full-logo-sub-min-width-rem: 14rem;
 --full-logo-nosub-min-width: 10rem;
 --font-size-header: 2rem;
/*
 --def-text-col: #A0A0A0;
 --def-bgd-col: #141414;
*/
}

@font-face {
 font-family: "Cooper Black";
 src: url(../fonts/CooperBlack.woff) format("woff");
 font-weight: normal;
 font-style: normal;
}

@font-face {
 font-family: "Arial Rounded";
 src: url(../fonts/ArialRounded.woff) format("woff");
 font-weight: normal;
 font-style: normal;
}

body {
 font-family: "Arial Rounded";
 background-color: var(--def-bgd-col);
 margin: 0rem;
 padding: 0rem;
}


/*
#main {
 height: 100vh;
 width: 100vw;
 padding: 0.5rem;
}
*/


h1,h2,h3,h4,h5,h6 {
 font-family: "Cooper Black";
 color: var(--alt-text-col);
 box-sizing: border-box;
 margin: 0rem;
 padding: 0rem;
}

div {
 display: flex;
 flex-flow: column nowrap;
 justify-content: center;
 align-content: center;
 align-items: center;
 box-sizing: border-box;
 border-radius: 1rem 1rem 1rem 1rem;
 border-style: none;
 padding: 0rem;
 margin: 0rem;
 gap: 0rem;
 width: 100%;
 height: 100%;
 border-color: var(--def-border-col);
 color: var(--def-text-col);
}

a:link {
 color: var(--def-text-col);
}
a:visited {
 color: var(--def-text-col);
}
a:hover {
 color: var(--def-text-col);
}
a:active {
 color: var(--def-text-col);
}

.display-box {
 width: 200px;
 height: 300px;
 display: grid;
 grid-template: 2fr 1fr / 1fr;
 gap: 10px;
 padding: 10px;
}
