:root {
 --fg: #0F0F10;
 --muted: #9A9A9A;
 --border-bottom: #FF6F98;
 --hero-button: #EE3C6F;
 --hero-button-hover: #0EC055;
 --footer: #272727;
 --footer-border: #555555;
 --paradigm-pink-dark: #E00F2F;
 --paradigm-pink: #EF3E6E;
 --paradigm-pink-light: #F77EA7;
 --highlighter-yellow-dark: #FFB106;
 --highlighter-yellow: #FFD527;
 --highlighter-yellow-light: #FFE964;
 --pool-blue-dark: #203C8C;
 --pool-blue: #5B7CBD;
 --pool-blue-light: #98B2DB;
 --circuit-green-dark: #06802C;
 --circuit-green: #2FB56A;
 --circuit-green-light: #62D7A4;
 --juicebox-orange-dark: #FF590D;
 --juicebox-orange: #FF9739;
 --griptape-gray-dark: #151515;
 --griptape-gray: #494949;
 --griptape-gray-light: #888888;
 --def-bgd-col: white;
 --def-text-col: var(--griptape-gray-light);
 --def-border-col: var(--griptape-gray-light);
 --def-border-radius: 1rem;
 --def-border-width: 0.2rem;
 --def-gap: 0.5rem;
 --def-padding: 1rem;
 --def-border-box-height: calc(2*var(--def-border-width) + 1rem + 2*var(--def-padding));
 --alt-bgd-col: var(--griptape-gray);
 --alt-text-col: var(--pool-blue);
 --alt-border-col: var(--paradigm-pink-dark);
 font-size: 15px;
 --flat-logo-sub-min-width: 300px;
 --flat-logo-nosub-min-width: 150px;
 --reduced-logo-min-width: 30px;
 --full-logo-sub-min-width: 200px;
 --full-logo-nosub-min-width: 150px;
 --flat-logo-sub-min-width-rem: 20rem;
 --flat-logo-nosub-min-width-rem: 10rem; 
 --reduced-logo-min-width-rem: 2rem;
 --full-logo-sub-min-width-rem: 14rem;
 --full-logo-nosub-min-width: 10rem;
 --font-size-header: 2rem;
/*
 --def-text-col: #A0A0A0;
 --def-bgd-col: #141414;
*/
}

@font-face {
 font-family: "Cooper Black";
 src: url(../fonts/CooperBlack.woff) format("woff");
 font-weight: normal;
 font-style: normal;
}

@font-face {
 font-family: "Arial Rounded";
 src: url(../fonts/ArialRounded.woff) format("woff");
 font-weight: normal;
 font-style: normal;
}

body {
 font-family: "Arial Rounded";
 background-color: var(--def-bgd-col);
 margin: 0rem;
 padding: 0rem;
}

text {
 text-align: center;
 font-family: "Arial Rounded";
}

h1,h2,h3,h4,h5,h6 {
 box-sizing: border-box;
 color: var(--alt-text-col);
 font-family: "Cooper Black";
 margin: 0rem;
 padding: 0rem;
}

div {
 align-content: center;
 align-items: center;
 border-color: var(--def-border-col);
 border-radius: var(--def-border-radius);
 border-style: none;
 border-width: var(--def-border-width);
 box-sizing: border-box;
 color: var(--def-text-col);
 display: flex;
 flex-flow: column nowrap;
 gap: var(--def-gap);
 height: 100%;
 justify-content: center;
 margin: 0rem;
 padding: 0rem;
 width: 100%;
}

a {
 color: var(--def-text-col);
 text-decoration: none;
}

.page-short {
 height: 100vh;
 padding: var(--def-padding);
}

.page-long {
 padding: var(--def-padding);
}

.products {
 flex-flow: row wrap;
 gap: 1rem;
}

.display-box {
 display: grid;
 grid-template: minmax(0%,100%) 4rem / 1fr;
 height: 30rem;
 width: 25rem;
}

.cover {
 display: grid;
 grid-template:
  calc(var(--def-border-box-height) + 0.8rem)
  calc(var(--def-border-box-height) + 1rem)
  minmax(0%,100%)
  var(--def-border-box-height)
  / 1fr;
}

.marquee {
 background-color: var(--paradigm-pink);
 border-color: var(--alt-border-col);
 border-style: none none solid none;
}

.marquee-text {
 color: white;
 font-family: 'Arial Rounded';
}

.topnav {
 display: grid;
 grid-template: 1fr / 1fr 1fr 1fr;
 padding: 0 var(--def-padding) 0 var(--def-padding)
}

.navButton {
 background-color: rgba(255,255,255,1);
 border: solid;
 height: calc(var(--def-border-box-height) + 1rem);
 width: 100%;
}

@keyframes paradigm-shadow {
 0%   {box-shadow:
  0rem 0rem var(--paradigm-pink),
  0rem 0rem var(--highlighter-yellow),
  0rem 0rem var(--pool-blue),
  0rem 0rem var(--circuit-green),
  0rem 0rem var(--juicebox-orange)
 }
 20%  {box-shadow:
  0.2rem 0.2rem var(--paradigm-pink),
  0.2rem 0.2rem var(--highlighter-yellow),
  0.2rem 0.2rem var(--pool-blue),
  0.2rem 0.2rem var(--circuit-green),
  0.2rem 0.2rem var(--juicebox-orange)
 }
 40%  {box-shadow:
  0.2rem 0.2rem var(--paradigm-pink),
  0.4rem 0.4rem var(--highlighter-yellow),
  0.4rem 0.4rem var(--pool-blue),
  0.4rem 0.4rem var(--circuit-green),
  0.4rem 0.4rem var(--juicebox-orange)
 }
 60%  {box-shadow:
  0.2rem 0.2rem var(--paradigm-pink),
  0.4rem 0.4rem var(--highlighter-yellow),
  0.6rem 0.6rem var(--pool-blue),
  0.6rem 0.6rem var(--circuit-green),
  0.6rem 0.6rem var(--juicebox-orange)
 }
 80%  {box-shadow:
  0.2rem 0.2rem var(--paradigm-pink),
  0.4rem 0.4rem var(--highlighter-yellow),
  0.6rem 0.6rem var(--pool-blue),
  0.8rem 0.8rem var(--circuit-green),
  0.8rem 0.8rem var(--juicebox-orange)
 }
 100% {box-shadow:
  0.2rem 0.2rem var(--paradigm-pink),
  0.4rem 0.4rem var(--highlighter-yellow),
  0.6rem 0.6rem var(--pool-blue),
  0.8rem 0.8rem var(--circuit-green),
    1rem   1rem var(--juicebox-orange)
 }
}

.navButton:hover {
 animation: paradigm-shadow 1s linear infinite alternate;
 position: relative;
 z-index: 2;
}

.navTab {
 background-color: rgba(255,255,255,1);
 border: solid;
 height: calc(var(--def-border-box-height) + 1rem);
}

.navDrop {
 display: none;
 height: max-content;
 gap: 0;
 position: absolute;
 top: calc(100% + var(--def-border-width));
}

.navDrop a {
 width: 100%;
}

.navTab:hover .navDrop {
 display: flex;
 width: calc(100% + 2*var(--def-border-width));
}

.footer {
 background-color: var(--griptape-gray);
 display: grid;
 grid-template: 1fr / 1fr 1fr 1fr;
 padding: var(--def-padding) 2rem;
}
